/.idea/
/.git/
/vendor/

/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/lock
/var/lock/*
!var/lock/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep

composer.lock
config.yml
.DS_Store
Thumbs.db
